[tool.poetry]
name = "ctk_functions"
version = "0.1.0"
description = "A beautiful description."
authors = ["Reinder Vos de Wael <reinder.vosdewael@childmind.org>"]
license = "LGPL-2.1"
readme = "README.md"
packages = [{include = "ctk_functions", from = "src"}]

[tool.poetry.dependencies]
python = "~3.11"
azure-functions = "^1.20.0"
pydantic = "^2.8.0"
python-dateutil = "^2.9.0.post0"
pytz = "^2024.1"
pydantic-settings = "^2.3.4"
cmi-docx = "^0.2.0"
azure-storage-blob = "^12.19.1"
aiofiles = "^24.1.0"
aiohttp = "^3.9.5"
pycap = "^2.6.0"
pypandoc-binary = "^1.13"
en_core_web_sm = {url = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz"}
polars-lts-cpu = "^1.0.0"
language-tool-python = "^2.8"
spacy = "^3.7.5"
openai = "^1.35.7"

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.1"
mypy = "^1.10.0"
pre-commit = "^3.7.1"
pytest-cov = "^5.0.0"
ruff = "^0.4.7"
types-python-dateutil = "^2.9.0.20240316"
types-pytz = "^2024.1.0.20240417"
pytest-dotenv = "^0.5.2"
pytest-mock = "^3.14.0"
types-requests = "^2.32.0.20240523"
types-aiofiles = "^23.2.0.20240403"
pytest-asyncio = "^0.23.7"

[tool.poetry.group.docs.dependencies]
pdoc = "^14.5.0"

[tool.pytest.ini_options]
pythonpath = [
  "src"
]
testpaths = [
  "tests"
]

[tool.mypy]
ignore_missing_imports = true

[tool.ruff]
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "venv"
]
line-length = 88
indent-width = 4
src = ["src"]
target-version = "py311"

[tool.ruff.lint]
select = ["ANN", "D", "E", "F", "I"]
ignore = [
  "ANN101",  # self should not be annotated.
  "ANN102"  # cls should not be annotated.
]
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"
