name: Python Tests

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  unit:
    services:
      language-tool:
        image: erikvl87/languagetool:6.4
        ports:
        - 8010:8010
    env:
      REDCAP_API_TOKEN: test
      AZURE_BLOB_CONNECTION_STRING: test
      AZURE_OPENAI_API_KEY: test
      AZURE_OPENAI_LLM_DEPLOYMENT: test
      AZURE_OPENAI_ENDPOINT: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v5
      with:
        python-version-file: pyproject.toml
        cache: poetry
    - name: Install dependencies
      run: |
        poetry install
        poetry run python -m spacy download en_core_web_sm
    - name: Run tests
      id: run-tests
      run: >
        poetry run pytest . \
          --junitxml=pytest.xml \
          --cov-report=term-missing:skip-covered \
          --cov-report=xml:coverage.xml \
          --cov=src tests \
          --log-level=DEBUG \
          --verbose
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: chartboost/ruff-action@v1

  mypy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: poetry
    - run: |
        poetry install
        poetry run mypy .
